@model DataModel.Company.Company
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<form id="frmAddCompany" class="form-horizontal">
    <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
        <fieldset>
            <legend>Company Details</legend>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Company Code <span class="red clsStar"><sub>*</sub></span></label>
                <div class="col-md-8">
                    <input type="hidden" name="IFLAG" value="E" />
                    <input type="hidden" name="COMPID" id="COMPID" value="@Model.COMPID">
                    <input class="form-control clsreq" autocomplete="off" value="@Model.COMPCODE" placeholder="Enter Company Code" type="text" name="COMPCODE" id="COMPCODE">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Company Name <span class="red clsStar"><sub>*</sub></span></label>
                <div class="col-md-8">
                    <input class="form-control clsreq" autocomplete="off" value="@Model.COMPNAME" placeholder="Enter Company Name" type="text" name="COMPNAME" id="COMPNAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Primary Phone No.</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Primary Phone No." value="@Model.PRIMARYPHONE" type="text" name="PRIMARYPHONE" id="PRIMARYPHONE">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Secondary Phone No.</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Secondary No." type="text" value="@Model.SECONDARYPHONE" name="SECONDARYPHONE" id="SECONDARYPHONE">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Fax No.</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Fax No." type="text" value="@Model.FAX" name="FAX" id="FAX">
                </div>
            </div>
        </fieldset>
    </article>
    <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
        <fieldset>
            <legend>Company Details</legend>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Email Address</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Email Address" type="text" value="@Model.EMAILID" name="EMAILID" id="EMAILID">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Website</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Website" type="text" value="@Model.WEBSITE" name="WEBSITE" id="WEBSITE">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Established In</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Established In" type="text" name="ESTABLISHEDIN" id="ESTABLISHEDIN">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Manpower Working</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Manpower Working" value="@Model.MANPOWERWORKING" type="text" name="MANPOWERWORKING" id="MANPOWERWORKING">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Registration No.</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Registration No." type="text" value="@Model.REGNO" name="REGNO" id="REGNO">
                </div>
            </div>
        </fieldset>
    </article>
    <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
        <fieldset>
            <legend>Company Address</legend>
            <div class="form-group">
                <label class="col-md-4 control-label text-left text-left">Complex Name </label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Complex Name" type="text" value="@Model.ADDR1COMPLEXNAME" name="ADDR1COMPLEXNAME" id="ADDR1COMPLEXNAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Street No</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Street No" type="text" value="@Model.ADDR1STREETNO" name="ADDR1STREETNO" id="ADDR1STREETNO">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Street Name</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Street Name" type="text" value="@Model.ADDR1STREETNAME" name="ADDR1STREETNAME" id="ADDR1STREETNAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Postal Code</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Postal Code" value="@Model.ADDR1POSTALCODE" type="text" name="ADDR1POSTALCODE" id="ADDR1POSTALCODE">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Country</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Country" type="text" value="@Model.ADDR1COUNTRYNAME" name="ADDR1COUNTRYNAME" id="ADDR1COUNTRYNAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">State</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter State" type="text" value="@Model.ADDR1STATENAME" name="ADDR1STATENAME" id="ADDR1STATENAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">City</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter City" type="text" value="@Model.ADDR1CITYNAME" name="ADDR1CITYNAME" id="ADDR1CITYNAME">
                </div>
            </div>
        </fieldset>
    </article>
    <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
        <fieldset>
            <legend>Company Postal Address</legend>
            <div class="form-group">
                <label class="col-md-4 control-label text-left"> </label>
                <div class="col-md-8">
                    <label class="checkbox">
                        <input type="checkbox" name="ADDR2SAMEASADDR1" value="@Model.ADDR2SAMEASADDR1" id="ADDR2SAMEASADDR1">
                        <i></i>Postal Address Same As Company Address
                    </label> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Complex Name </label>
                <div class="col-md-8">
                    <input class="form-control addr2" autocomplete="off" placeholder="Enter Complex Name" type="text" value="@Model.ADDR2COMPLEXNAME" name="ADDR2COMPLEXNAME" id="ADDR2COMPLEXNAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Street No</label>
                <div class="col-md-8">
                    <input class="form-control addr2" autocomplete="off" placeholder="Enter Street No" type="text" value="@Model.ADDR2STREETNO" name="ADDR2STREETNO" id="ADDR2STREETNO">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Street Name</label>
                <div class="col-md-8">
                    <input class="form-control addr2" autocomplete="off" placeholder="Enter Street Name" type="text" value="@Model.ADDR2STREETNAME" name="ADDR2STREETNAME" id="ADDR2STREETNAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Postal Code</label>
                <div class="col-md-8">
                    <input class="form-control addr2" autocomplete="off" placeholder="Enter Postal Code" type="text" value="@Model.ADDR2POSTALCODE" name="ADDR2POSTALCODE" id="ADDR2POSTALCODE">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Country</label>
                <div class="col-md-8">
                    <input class="form-control addr2" autocomplete="off" placeholder="Enter Country" type="text"  value="@Model.ADDR2COUNTRYNAME" name="ADDR2COUNTRYNAME" id="ADDR2COUNTRYNAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">State</label>
                <div class="col-md-8">
                    <input class="form-control addr2" autocomplete="off" placeholder="Enter State" type="text" value="@Model.ADDR2STATENAME" name="ADDR2STATENAME" id="ADDR2STATENAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">City</label>
                <div class="col-md-8">
                    <input class="form-control addr2" autocomplete="off" placeholder="Enter City" type="text" value="@Model.ADDR2CITYNAME" name="ADDR2CITYNAME" id="ADDR2CITYNAME">
                </div>
            </div>
        </fieldset>
    </article>
    <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
        <fieldset>
            <legend>Contact Person Details</legend>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Contact Person Name </label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Contact Person Name" type="text" name="CONTACTPERSONNAME" id="CONTACTPERSONNAME">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Contact Person Email </label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Email Address" type="text" name="CPEMAIL" id="CPEMAIL">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label text-left">Phone No.</label>
                <div class="col-md-8">
                    <input class="form-control" autocomplete="off" placeholder="Enter Phone No." type="text" name="CPPHONENO" id="CPPHONENO">
                </div>
            </div>
        </fieldset>
    </article>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <a id="btnCancel" class="btn btn-default" href="/Company/CompanyDtl">
                    <i class="fa fa-times"></i>
                    Cancel
                </a>
                <button id="btnSaveCompany" class="btn btn-primary" type="button" onclick="onCompanySave()">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>



<link href="~/css/select2.min.css" rel="stylesheet" />
<script src="~/js/libs/jquery-2.1.1.min.js"></script>
<script src="~/js/plugin/select2/select2.min.js"></script>
<script src="~/js/ProjectCommon.js"></script>
<script type="text/javascript">

    (function ($) {
        var curValue = $('#ADDR2SAMEASADDR1').is(':checked');
        if (curValue) {
            $('.addr2').val('');
            $('.addr2').attr('readonly', 'readonly');
        } else {
            $('.addr2').removeAttr('readonly', 'readonly');
        }
        $('#ADDR2SAMEASADDR1').on('click', function () {
            var curValue = $(this).is(':checked');
            $(this).val(curValue);
            if (curValue) {
                $('.addr2').val('');
                $('.addr2').attr('readonly', 'readonly');
            } else {
                $('.addr2').removeAttr('readonly', 'readonly');
            }
        });
    }(jQuery));

    function onCompanySave() {
        saveCompany('frmAddCompany', 'Company', 'AddCompany');
    }


    function saveCompany(FORMID, Controller, Action) {
        //loading for Trans Save button
        var TransSaveBtnID = "btnSaveCompany";

        $('#' + TransSaveBtnID).attr('disabled', true);
        var validate = true;
        $('#' + FORMID + ' .clsreq').each(function () {
            if ($(this).hasClass("select2")) {
                var message = $(this).siblings('input:hidden').attr('placeholder');
                var val = $(this).select2("val");
                if (val == "" || val == null || val == 0) {
                    validate = false;
                    $(this).find('.select2-choice').addClass('clsShowWarning');
                    $(this).select2("focus", "val");
                    $('#' + TransSaveBtnID).attr('disabled', false);
                    $.c9Message(message, "Warning", "W");
                    return false;
                }
            } else if ($(this).hasClass("select")) {
                var message = $(this).attr('data-placeholder');
                var val = $(this).val();
                if (val == "" || val == null || val == 0) {
                    validate = false;
                    $(this).addClass('clsShowWarning');
                    $(this).focus();
                    $('#' + TransSaveBtnID).attr('disabled', false);
                    $.c9Message(message, "Warning", "W");
                    return false;
                }
            }
            else {
                var focus = $(this).attr('data-focus');
                var message = $(this).attr('placeholder') == undefined || $(this).attr('placeholder') == null ? $(this).attr('data-placeholder') : $(this).attr('placeholder');
                var val = $(this).hasClass("textarea") ? $(this).text().trim() : $(this).val() == "" || $(this).val() == null ? $(this).val() : $(this).val().trim();
                if (val == "" || val == 0 || val == null) {
                    validate = false;
                    if (typeof focus === "undefined" || focus === null) {
                        $(this).focus();
                    }
                    $(this).addClass('clsShowWarning');
                    $('#' + TransSaveBtnID).attr('disabled', false);
                    $.c9Message(message, "Warning", "W");
                    return false;
                }
            }
        });

        if (validate) {
            $('#' + TransSaveBtnID).attr("disabled", true);

            var serializedData = $("#" + FORMID).serialize();
            var url = "/" + Controller + "/" + Action + "/";
            $.post(url, serializedData, function (res) {
                var errid = res.ResultId;
                var errmsg = res.Message;
                var TITLE = res.Title;
                var TYPE = res.Type;
                if (errid > 0) {
                    $.c9Message(errmsg, TITLE, TYPE);
                    $('#btnCancel').click();
                } else {
                    $('#' + TransSaveBtnID).attr('disabled', false);
                    $.c9Message(errmsg, TITLE, TYPE);
                }
            });
        }
    }
</script>

