@model List<DataModel.Master.FormulaVariables>

@if (Model != null)
{
	<span> <b>Variables :</b> <button id="btnAddFormulaVariable" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-xs"> Add Variable </button></span>
	<table id="tableFormulaVariables" class="table table-striped table-bordered table-hover" width="100%">
		<thead>
			<tr>
				<th>Action</th>
				<th>Variable Name</th>
				<th>Head</th>
				<th class="text-right">Test Value</th>
				<th>Active</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<a class="btn btn-xs btn-default btneditvariable" data-mid="@item.VARID" data-toggle="modal" data-target="#myModal" data-original-title="Edit Variable" href="#"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-xs btn-default btndeletevariable" data-mid="@item.VARID" title="Delete Variable" data-original-title="Delete Row" href="#"><i class="fa fa-trash-o"></i></a>
					</td>
					<td>@item.VARIABLE</td>
					<td>@item.FIELDCODE </td>
					<td class="text-right">@item.TESTVALUE</td>
					<td>
						@if (item.ISACTIVE)
						{
							<i class="fa fa-check green" style="color:green"></i>
						}
						else
						{
							<i class="fa fa-times" style="color:red"></i>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<span> <b style="color:red">No Variable define</b></span>
}
<script src="~/js/ProjectCommon.js"></script>
<script type="text/javascript">
	$(document).ready(function () {

		$('.btneditvariable').on('click', function () {
			var id=$(this).attr('data-mid');
			var url = '/Formula/EditFormulaVariable?Id=' + id+'&HeadId=' + @ViewBag.Id;
			$.get(url, function (data) {
				$('#myModalLabel').text('Edit Variable');
				$('#modelbody').html(data);
			});
		});

		$('.btndeletevariable').on('click', function () {
			var id=$(this).attr('data-mid');

			var result = confirm("Are you sure, you want to delete this variable?");
			if (result == true) {
				$.get('/Formula/FormulaVariableDelete', { Id: id }, function (res) {

					var errid = res.ResultId;
					var errmsg = res.Message;
					var TITLE = res.Title;
					var TYPE = res.Type;
					if (errid > 0) {
						$.c9Message(errmsg, TITLE, TYPE); 
						loadVariables();
					} else {
						$.c9Message(errmsg, TITLE, TYPE);
					}
				});
			} else {

			}
		});

		$('#btnAddFormulaVariable').on('click', function () {
			var url = '/Formula/AddFormulaVariable?Id=' + @ViewBag.Id;
			$.get(url, function (data) {

				$('#myModalLabel').text('Add Variable');
				$('#modelbody').html(data);
			});
		});
	});
</script>

